<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
<!-- Bootstrap core CSS -->
<!-- bb——这里是通过下载网页上的css文件，保存在static目录下即可-->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
      rel="stylesheet">
</head>
<body>
<form enctype="json/plain" method="post" action="{{url_for('star.show_images_for_time')}}" class="form-inline">
                <div class="form-group col-md-5 col-md-offset-5" >
                    <div class="input-group" id="datetime">
                        <input type="text" class="form-control" name="time">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th"></i>
                    </span>
                    </div>
                    <button type="submit" class=" btn btn-primary" style="left: 10%">查询</button>
                </div>

            </form>

</body>
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.22.1/moment-with-locales.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $("#datetime").datetimepicker();
</script>
</html>